.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #266485;
    padding: 10px 20px;
    color: white;
  }
  
  .header-logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .header-nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .header-nav a:hover {
    text-decoration: underline;
  }
  
  .logout-button{
    background-color: #266485;
    color: rgb(243, 236, 236);
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
  }